@import "projects/finfront/src/styles/colors";

.footer {
  height: 7.5vh;
  padding: 0 20px;
  display: flex;
  border-top: 0.5px solid $primary;

  &__navigation {
    padding: 20px 0;
  }
}

:host ::ng-deep app-navlinks {
  display: flex;
  justify-content: center;
}
