$base: #fafafa;
$on-base: #0a0a0a;

$primary: #0465fb;
$primary-dark: #023b93;
$on-primary: #ffffff;

$secondary: #fb9a04;
$secondary-dark: #935b02;
$on-secondary: #000000;

$home-background: #f8aead;
$post-background: #7b977d;
$gallery-background: #f4f4b1;
$contact-background: #a0b1f6;

$error: #ff3217;
$on-error: #ffffff;

$success: #38ff3b;
$on-success: #ffffff;
