<div class="page">
  <div class="page__header">
    <h1>Home</h1>
  </div>
  <div class="page__content">
    <div class="home">
      <div class="home__content">
        <app-my-posts [posts]="posts"></app-my-posts>
        <!-- <app-my-posts [posts]="posts$ | async"></app-my-posts> -->
      </div>
      <div class="home__content">
        <app-photo-gallery [photos]="photos"></app-photo-gallery>
        <!-- <app-photo-gallery [photos]="photos$ | async"></app-photo-gallery> -->
      </div>
    </div>
  </div>
</div>
