.app-a {
  color: $primary;
  cursor: pointer;
  margin-right: 1em;
  transition: 0.25s;
  text-decoration: none;

  &_logo {
    color: $on-base;
    text-decoration: none;
  }

  &:hover {
    color: $primary-dark;
  }

  &_active {
    color: $primary-dark;
  }
}
